.calendar-page {
  padding: 70px;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  background-color: #efefef;
  margin-left: -60px;
}

.main-calendar {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
}

.calendar-filters {
  border-radius: 10px;
  background: #fff;
  height: 150px;
  padding: 10px;
}

.today-events h4,
.calendar-filters h4 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.today-events ul,
.calendar-filters ul {
  list-style-type: none;
  padding: 0;
}

.today-events li,
.calendar-filters li {
  margin: 5px 0;
}
.rbc-btn-group {
  display: none;
}
.rbc-off-range-bg {
  background: #f0f8fe;
}
.rbc-today {
  background-color: #c3e2fa;
}

.ant-picker-header {
  display: none;
}
