.container-custom {
    width: 100vw; 
    height: 100vh; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px; 
    text-align: center;
}

@media (min-width: 768px) {
.container-custom {
    width: 100vw; 
 }
}