.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f5ff; 
  }
  
  .login-header {
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8d0e6; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
  
  .login-logo {
  width: 40px; 
  height: 40px;
  margin-right: 10px; 
}

  
  .login-navigation {
    margin-left: auto;
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    color: #000;
    text-decoration: none;
    font-size: 16px;
  }
  
  .login-button {
    text-align: center;
    background-color: #383e46; 
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    width: 50px;
    height: 30px;
  }

  .signup-button {
    background-color: #383e46; 
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    width: 50px;
    height: 30px;
  }
  
  .login-box {
    width: 400px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  
  .login-form .ant-form-item {
    margin-bottom: 16px;
  }
  
  .forgot-password-link {
    float: right;
    font-size: 14px;
    color: #000;
  }
  
  .login-button {
    width: 100%;
    background-color: #f8d0e6;
    border-color: #f8d0e6;
  }
  
  .login-button:hover {
    background-color: #f8c0d0;
    border-color: #f8c0d0;
  }
  