.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: #275fce; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.light-mode {
    background: #c3defa;
    color: #fff; 
}

.header.light-mode .navbar a {
    color: #030303; 
}

.header.dark-mode {
    background: #1a2b51; 
    color: #fff; 
}

.header.dark-mode .navbar a {
    color: #ddd; 
}
.header.light-mode .logo {
    color: #030303; 
}
.header.dark-mode .logo {
    color: #ddd; 
}

.logo {
    height: 32px; 
    margin: 16px; 
    background: none; 
    color: #fff; 
    font-size: 32px; 
    font-weight: 700; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
}

.navbar {
    display: flex;
}

.navbar a {
    font-family:'Montserrat', regular;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    text-decoration: none;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    transition: 0.2s;
    height: 2px;
    background: #fff;
}

.navbar a:hover::before {
    width: 100%;
}
.mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; 
    color: inherit;
    display: flex;
    margin-left: 10px;
    width:50px;
    height: 50px;
}

.mode-toggle svg {
    margin: 12px;
    align-items: center;
}